/.idea/workspace.xml
/out/production/MessagePassingErlang/exchange.beam
/out/test/MessagePassingErlang/exchange.beam
/src/erl_crash.dump
/src/erl_crash.dump
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/erl_crash.dump
/MessagePassingErlang.iml
/out/production/MessagePassingErlang/calling.beam
/out/test/MessagePassingErlang/calling.beam
/.idea/rebar.xml
/src/calling.beam
/src/exchange.beam
